<div class="grid">
    <div class="card" *ngFor="let w of myWeather; index as i">
        <span class="icon">
            <img
                class="weather-img"
                src="/assets/weatherImg/{{
                    w.weatherElement[0].time[0].parameter.parameterName
                }}.svg"
                onerror="this.src='/assets/weatherImg/question.png';"
                alt="..."
            />
        </span>
        <h4 class="weather-location">{{ w.locationName }}</h4>
        <p class="weather-temperature">
            {{ w.weatherElement[2].time[0].parameter.parameterName }}°C ~{{
                w.weatherElement[4].time[0].parameter.parameterName
            }}°C
        </p>
        <p class="weather-feels-like">
            體感 {{ w.weatherElement[3].time[0].parameter.parameterName }}
        </p>
    </div>
</div>
